@model UniversityRating.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
}

<h2>Пожалуйста, придумайте новый пароль для безопасности</h2>

@using (Html.BeginForm("ChangePassword", "TeachersRoom", null, FormMethod.Post))
{ 
    @Html.ValidationMessageFor(model => model.ConfirmPassword)
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3">Логин: </label>
            @Html.EditorFor(model => model.Login, new {@class = "col-md-9 form-control disabled"})
        </div>

        <div class="form-group">
            <label class="col-md-3">Новый пароль: </label>
            @Html.PasswordFor(model => model.Password, new {@class = "col-md-9 form-control"})
        </div>
        <div class="form-group">
            <label class="col-md-3">Подтвердите пароль: </label>
            @Html.PasswordFor(model => model.ConfirmPassword, new {@class = "col-md-9 form-control"})
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default"/>
            </div>
        </div>
    </div>

        }

