
@{
    ViewBag.Title = "Блоки";
}


<h2 style="text-align: center;">Рейтинговый лист факультета / института</h2>
<p style="text-align: center; font-size: 1.3em; color: #b94100;">Просим заполнить блоки рейтингового листа и внести данные за текущий учебный год (с 1-июня 2017г. по 30-мая 2018г.)</p>

<div class="type-1">
    @foreach (var item in @ViewBag.Blocks)
    {
        if (item.Id != 2)
        {
            <a href="/FacultyPanel/FillMarks/@item.Id" class="btn-1" style="text-decoration: none;">
                <span class="txt">@item.CodeName) @item.Name</span>
                <span class="round"><i class="fa fa-chevron-right"></i></span>
            </a>
        }
    }

    <a href="/FacultyPanel/ShowMarks/1" class="btn-2" style="text-decoration: none;">
        <span class="txt">Посмотреть итоговые оценки</span>
        <span class="round"><i class="fa fa-chevron-right"></i></span>
    </a>
</div>

